
@import '/node_modules/font-awesome/scss/font-awesome';

.navbar-first {
    width: 100%;
    height: 40px;
    padding-top: 3px;
}
.login-pos-panel {
    float: right;
}
#navbar-default {
    background-color: white;
}
.navbar {
    min-height: 78px;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.button-login-main {
    background-color: #3a89fb;
    color: white;
    border: 0;
    font-weight: 300;
    padding: 7px 20px;
    border-radius: 30px;
    margin: 0 10px;
    font-size: 13px;
    outline: none;
}   
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.hotline {
    display: inline-block;
}

.follow {
    display: inline-block;
}

.follow i {
    vertical-align: middle;
    font-size: 20px;
    margin-right: 10px;
    margin-right: 3px;
}
.navbar-first .hotline {
    float: left;
    margin-top: 7px;
    font-weight: 500;
    color: #777;
}
.navbar-first .follow {
    float: right;
    margin-top: 7px;
    color: #777;
    font-weight: 500;
}
.logo-main {
    width: 50px;
    padding: 3px 0;
}
.navbar-nav-list-header {
    float: right;
}
.navbar-header{
    float: left;
}
#menuright {
    float: right;
}
.nav > li {
    position: relative;
    display: block;
}
.navbar-first .form-control {
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 13px;
}

.navbar-first .form-control {
    width: 250px;
    margin: 0 auto;
    display: block;
}
.container{
    display: block;
}    
.follow i {
    vertical-align: middle;
    font-size: 20px;
    margin-right: 10px;
    margin-right: 3px;
}

.title-main {
    font-family: SourceSansProSemibold;
}
.title-main {
    text-align: center;
    color: #254DAA;
    text-transform: uppercase;
    padding: 20px 0;
}
.title-main > div {
    font-size: 27px;
    font-weight: 700;
    color: #3a89fb;
    display: inline-block;
    border-bottom: 1px solid #3a89fb;
    padding-bottom: 5px;
    margin-top: 20px;
}

.des {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
}
.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.classes-panel {
    text-align: center;
    overflow: hidden;
    padding: 5px 0 15px;
}
.course-items.active {
    display: block;
}
.course-items .content-course {
    border: 1px solid #ddd;
    box-shadow: 5px 5px 10px #ddd;
    min-height: 320px;
}
.header-classes {
    position: relative;
}
.header-classes img {
    width: 100%;
    height: 150px;
}
.header-hover-classes {
    display: none;
}
.panelButtonClass {
    position: absolute;
    top: 40%;
    width: 100%;
}
.btn-view-details {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 5px 10px;
    font-weight: 700;
    margin-right: 2%;
    float: right;
    cursor: pointer;
}
.btn-buy-now {
    background: #74BC60;
    border: 1px solid #74BC60;
    color: #fff;
    padding: 5px 10px;
    font-weight: 700;
    margin-left: 10%;
    float: left;
}
.name-course {
    font-weight: 700;
    width: calc(100% - 55px);
    height: 20px;
}
.dot-1 {
    -webkit-line-clamp: 1!important;
}
.money-course {
    color: #74BC60;
    font-weight: 700;
}
.img-persion-num {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
}

.des-course {
    height: 60px;
}
.dot-3 {
    -webkit-line-clamp: 3!important;
}
.dot-1, .dot-2, .dot-3, .dot-4, .dot-5, .dot-6 {
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    display: -webkit-box!important;
    -webkit-box-orient: vertical!important;
}
.course-items {
    margin: 10px 0;
    display: none;
}
.header-hover-classes {
    display: none;
}

.content-classes {
    padding: 10px;
    text-align: left;
}
.content-classes {
    padding: 10px;
    text-align: left;
}
.course-items:HOVER .header-hover-classes {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
}

.show-more, .show-less {
    cursor: pointer;
    background: #59a246;
    color: #fff;
    font-size: 16px;
    margin: 20px auto!important;
    width: 215px;
    padding: 12px 0;
    text-align: center;
    border-radius: 50px;
    float: none;
}
.show-more, .show-less {

    margin: 15px;
    cursor: pointer;
}
.logo-footer {
    width: 120px;
}

.bg-why {
    margin-bottom: 30px;
    background-image: url(../images/hocthongminh/bg-why.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 130px;
}
.title-main {
    font-family: SourceSansProSemibold;
}
.title-main {
    text-align: center;
    color: #254DAA;
    text-transform: uppercase;
    padding: 20px 0;
}

.btn-follow-us {
    border: 0;
    background: 0;
    font-weight: bold;
    float: left;
    padding: 0;
}
.title-main > div {
    font-size: 27px;
    font-weight: 700;
    color: #3a89fb;
    display: inline-block;
    border-bottom: 1px solid #3a89fb;
    padding-bottom: 5px;
    margin-top: 20px;
}
.des {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
}
.item-why img {
    margin: 0 auto;
    display: block;
}

#new-white {
    color: white;
    border-color: white;
}
.item-why > div {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}
.item-why > div strong {
    font-size: 19px;
}
.item-why p {
    margin-top: 15px;
}

.bg-news {
    background-image: url(../images/hocthongminh/bg-news.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    color: white;
    position: relative;
}

.title-main {
    font-family: SourceSansProSemibold;
}
.title-main {
    text-align: center;
    color: #254DAA;
    text-transform: uppercase;
    padding: 20px 0;
}

.title-main-color-white > div {
    color: white;
    border-color: white;
}
.title-main > div {
    font-size: 27px;
    font-weight: 700;
    color: #3a89fb;
    display: inline-block;
    border-bottom: 1px solid #3a89fb;
    padding-bottom: 5px;
    margin-top: 20px;
}
#slider-news .item {
    padding: 20px;
}

.item {
    max-width: 100%;
    height: auto;
}

.des-color-white {
    color: white;
    text-align: left;
    font-weight: normal;
    font-family: SourceSansProLight;
    font-size: 15px;
    letter-spacing: 0.03em;
}
.dot-4 {
    -webkit-line-clamp: 4!important;
}
.JIB {
    padding: 20px 10px;
}
.CJB {
    overflow: hidden;
}
.GJB {
    display: block;
    padding: 7px 10px;
    margin-top: 10px;
    border-radius: 0;
    margin-top: 15px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.075);
}
.GIB {
    margin-bottom: 15px;
}
#navbar {
    overflow: none;
    width: 100%;
}
.MIB {
    margin-bottom: 15px;
    color: red;
    text-align: left;
}   
.gwt-HTML {
    padding: 0 0px;
}
.PIB {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}
.JIB {
    padding: 20px 10px;
}
.DJB {
    width: 100%;
    overflow: hidden;
    padding: 15px 0 0 0;
}
.LIB {
    background: url(../images/Facebook.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-color: #4c6997 !important;
    background-position: 5px center;
    color: white;
    font-size: 1em;
    padding: 7px 0 7px 35px;
    cursor: pointer;
    border-radius: 20px;
    max-width: 190px;
    margin: 0 auto;
}


.HIB {
    cursor: pointer;
    color: #1d9fd9;
    text-align: right;
}
.buttonLoading {
    position: relative;
    overflow: hidden;
    color: white;
    border: 0;
}
.OIB {
    color: #4c6997;
    font-size: 1.7em;
    text-align: left;
    padding: 2px 0 2px 5px;
    border-left: 5px solid #4c6997;
}
.KIB {
    display: block;
    width: 60%;
    margin: 0 auto;
    font-size: 0.8em;
}
.buttonLoading {
    position: relative;
    overflow: hidden;
    color: white;
    border: 0;
}
.EJB {
    border-right: 1px solid #c8c9cc;
}
.OIB {
    color: #4c6997;
    font-size: 1.7em;
    text-align: left;
    padding: 2px 0 2px 5px;
    border-left: 5px solid #4c6997;
}
.des-time {
    font-family: SourceSansProLight;
    font-size: 13px;
    font-style: italic;
}
.slide {
    margin-top: 95px;
}
.modal-panel{
    z-index: 2000;
} 
.modal-backdrop {
    z-index: 1025;
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
}
.bg-feedback {
    background-image: url(../images/hocthongminh/bg-feedback.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    color: white;
    position: relative;
}

.bg-feedback .feedback-parent-panel-1 {
    padding: 20px 0;
    padding-right: 20px;
}
.line-col {
    background: #ffffff94;
    width: 1px;
    height: calc(100% - 50px);
    position: absolute;
    left: 50%;
    top: 25px;
}
.bg-feedback .feedback-parent-panel-2 {
    padding: 20px 0;
    padding-left: 20px;
}
.title-feebback {
    font-size: 25px;
}
.short-line {
    background-color: #3a89fb;
    width: 100px;
    height: 4px;
    margin: 10px 0;
}
.mg-des-feddback {
    margin-bottom: 20px;
    margin-top: 15px;
}
.des-feddback {
    color: #ddd;
    font-weight: 200;
    font-size: 13px;
    font-family: SourceSansProLight;
}
.director-info > * {
    display: inline-block;
    vertical-align: middle;
}

#director-avatar {
    border-radius: 100%;
    border: 1px solid #ffffff7a;
    width: 80px;
    height: 80px;
}
.bg-feedback {
    overflow: hidden;
}

.frame-des {
    background: rgba(0, 0, 0, 0.35);
    padding: 20px;
    position: relative;
    margin-bottom: 25px;
    font-family: SourceSansProLight;
    letter-spacing: 1;
    font-size: 13px;
    height: 130px;
}
#search-panel-Mobile {
    display: none;
}
#fb-mobile{
    display: none;
}
.owl-item {
    width: 285px;
}
@media only screen and (max-width: 480px){
    .director-info > * {
        color: black;
    }
    #owl-mobile2 {
        margin-left: -42px;
    }
    .bg-news {
        background-size: auto;
    }
    .owl-item {
        width: 20%;
    }
    .frame-des {
        height: auto;
    }
    #item {
        max-width: 64%;
        height: auto;
    }
    #director-avatar {
        margin: auto;
    }
    #fb{
        display: none;
    }
    #fb-mobile{
        display: block;
    }
    #search-panel-Mobile {
        width: 95%;
        display: block;
        margin-top: 12px;
        border-radius: 36px;
    }
    .navbar-header {
        display: -webkit-inline-box;
    }
    #search-panel {
        display: none;
    }
    .logo-main {
        margin-left: 33px;
    }
    .modal-dialog{
        width: 76%;
        margin: auto;
    }
    #feedback-mobile{
        color: #333;
    }
    table {
        background-color: transparent;
        margin: auto;
    }
    .navbar-first .form-control {
        width: 300px;
    }
    .navbar-header {
        width:100%;
        float: left;
    }
    .login-pos-panel {
        float: none;
    }
    .navbar-toggle {
        float:right;
    } 
    #menuright {
        float: none;
    }
    .navbar-nav-list-header > li a {
        padding: 10px;
        width: 50%;
        float: left;
    }
    .item {
        max-width: 64%;
        height: auto;
    }
    .navbar-nav-list-header > li a {
        padding: 10px;
        width: 50%;
        float: left;
    }
    .title-feebback {
        font-size: 25px;
        color: black;
    }
    .slide {
        margin-top: 155px;
    }
    .bg-feedback {
        background-image: none;
    }
    .bg-why {
        background-image: none;
      
    }
    .des-feddback {
        color: #ddd;
        font-weight: 200;
        font-size: 13px;
        font-family: SourceSansProLight;
    }
    .bg-feedback .feedback-parent-panel-1 {
        padding: 20px 0;
        padding-right: 20px;
        margin-left: 21px;
    }
  }