
@import '/node_modules/font-awesome/scss/font-awesome';

.navbar-first {
    width: 100%;
    height: 40px;
    padding-top: 3px;
}
.login-pos-panel {
    float: right;
}
.navbar-default {
    background-color: white;
}
.navbar {
    min-height: 78px;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.button-login-main {
    background-color: #3a89fb;
    color: white;
    border: 0;
    font-weight: 300;
    padding: 7px 20px;
    border-radius: 30px;
    margin: 0 10px;
    font-size: 13px;
    outline: none;
}   
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.hotline {
    display: inline-block;
}

.follow {
    display: inline-block;
}

.follow i {
    vertical-align: middle;
    font-size: 20px;
    margin-right: 10px;
    margin-right: 3px;
}
.navbar-first .hotline {
    float: left;
    margin-top: 7px;
    font-weight: 500;
    color: #777;
}
.navbar-first .follow {
    float: right;
    margin-top: 7px;
    color: #777;
    font-weight: 500;
}
.logo-main {
    width: 50px;
    padding: 3px 0;
}
.navbar-nav-list-header {
    float: right;
}
.navbar-header{
    float: left;
}
#menuright {
    float: right;
}
.nav > li {
    position: relative;
    display: block;
}
.navbar-first .form-control {
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 13px;
}

.navbar-first .form-control {
    width: 250px;
    margin: 0 auto;
    display: block;
}
.container{
    display: block;
}    
.follow i {
    vertical-align: middle;
    font-size: 20px;
    margin-right: 10px;
    margin-right: 3px;
}

.title-main {
    font-family: SourceSansProSemibold;
}
.title-main {
    text-align: center;
    color: #254DAA;
    text-transform: uppercase;
    padding: 20px 0;
}
.title-main > div {
    font-size: 27px;
    font-weight: 700;
    color: #3a89fb;
    display: inline-block;
    border-bottom: 1px solid #3a89fb;
    padding-bottom: 5px;
    margin-top: 20px;
}

.des {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
}
.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.classes-panel {
    text-align: center;
    overflow: hidden;
    padding: 5px 0 15px;
}
.course-items.active {
    display: block;
}
.course-items .content-course {
    border: 1px solid #ddd;
    box-shadow: 5px 5px 10px #ddd;
    min-height: 320px;
}
.header-classes {
    position: relative;
}
.header-classes img {
    width: 100%;
    height: 150px;
}
.header-hover-classes {
    display: none;
}
.panelButtonClass {
    position: absolute;
    top: 40%;
    width: 100%;
}
.btn-view-details {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 5px 10px;
    font-weight: 700;
    margin-right: 2%;
    float: right;
    cursor: pointer;
}
.btn-buy-now {
    background: #74BC60;
    border: 1px solid #74BC60;
    color: #fff;
    padding: 5px 10px;
    font-weight: 700;
    margin-left: 10%;
    float: left;
}
.name-course {
    font-weight: 700;
    width: calc(100% - 55px);
    height: 20px;
}
.dot-1 {
    -webkit-line-clamp: 1!important;
}
.money-course {
    color: #74BC60;
    font-weight: 700;
}
.img-persion-num {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
}

.des-course {
    height: 60px;
}
.dot-3 {
    -webkit-line-clamp: 3!important;
}
.dot-1, .dot-2, .dot-3, .dot-4, .dot-5, .dot-6 {
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    display: -webkit-box!important;
    -webkit-box-orient: vertical!important;
}
.course-items {
    margin: 10px 0;
    display: none;
}
.header-hover-classes {
    display: none;
}

.content-classes {
    padding: 10px;
    text-align: left;
}
.content-classes {
    padding: 10px;
    text-align: left;
}
.course-items:HOVER .header-hover-classes {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
}

.show-more, .show-less {
    cursor: pointer;
    background: #59a246;
    color: #fff;
    font-size: 16px;
    margin: 20px auto!important;
    width: 215px;
    padding: 12px 0;
    text-align: center;
    border-radius: 50px;
    float: none;
}
.show-more, .show-less {

    margin: 15px;
    cursor: pointer;
}
.logo-footer {
    width: 120px;
}

.bg-why {
    margin-bottom: 30px;
    background-image: url(../images/hocthongminh/bg-why.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 130px;
}
.title-main {
    font-family: SourceSansProSemibold;
}
.title-main {
    text-align: center;
    color: #254DAA;
    text-transform: uppercase;
    padding: 20px 0;
}

.btn-follow-us {
    border: 0;
    background: 0;
    font-weight: bold;
    float: left;
    padding: 0;
}
.title-main > div {
    font-size: 27px;
    font-weight: 700;
    color: #3a89fb;
    display: inline-block;
    border-bottom: 1px solid #3a89fb;
    padding-bottom: 5px;
    margin-top: 20px;
}
.des {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
}
.item-why img {
    margin: 0 auto;
    display: block;
}

#new-white {
    color: white;
    border-color: white;
}
.item-why > div {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}
.item-why > div strong {
    font-size: 19px;
}
.item-why p {
    margin-top: 15px;
}

.bg-news {
    background-image: url(../images/hocthongminh/bg-news.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    color: white;
    position: relative;
}

.title-main {
    font-family: SourceSansProSemibold;
}
.title-main {
    text-align: center;
    color: #254DAA;
    text-transform: uppercase;
    padding: 20px 0;
}

.title-main-color-white > div {
    color: white;
    border-color: white;
}
.title-main > div {
    font-size: 27px;
    font-weight: 700;
    color: #3a89fb;
    display: inline-block;
    border-bottom: 1px solid #3a89fb;
    padding-bottom: 5px;
    margin-top: 20px;
}
#slider-news .item {
    padding: 20px;
}

.item {
    max-width: 100%;
    height: auto;
}

.des-color-white {
    color: white;
    text-align: left;
    font-weight: normal;
    font-family: SourceSansProLight;
    font-size: 15px;
    letter-spacing: 0.03em;
}
.dot-4 {
    -webkit-line-clamp: 4!important;
}
.des-time {
    font-family: SourceSansProLight;
    font-size: 13px;
    font-style: italic;
}
.slide {
    margin-top: 70px;
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
}
.bg-feedback {
    background-image: url(../images/hocthongminh/bg-feedback.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    color: white;
    position: relative;
}

.bg-feedback .feedback-parent-panel-1 {
    padding: 20px 0;
    padding-right: 20px;
}
.line-col {
    background: #ffffff94;
    width: 1px;
    height: calc(100% - 50px);
    position: absolute;
    left: 50%;
    top: 25px;
}
.bg-feedback .feedback-parent-panel-2 {
    padding: 20px 0;
    padding-left: 20px;
}
.title-feebback {
    font-size: 25px;
}
.short-line {
    background-color: #3a89fb;
    width: 100px;
    height: 4px;
    margin: 10px 0;
}
.mg-des-feddback {
    margin-bottom: 20px;
    margin-top: 15px;
}
.des-feddback {
    color: #ddd;
    font-weight: 200;
    font-size: 13px;
    font-family: SourceSansProLight;
}
.director-info > * {
    display: inline-block;
    vertical-align: middle;
}

#director-avatar {
    border-radius: 100%;
    border: 1px solid #ffffff7a;
    width: 80px;
    height: 80px;
}
.bg-feedback {
    overflow: hidden;
}